
nav{
    width: 100%;
    height: 300px;
}
.background{
    background: url("./../media/navi.jpg");
    background-position: center;
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/*on scrolled*/
.background.active{
    background: none;
}
.background.active .first{
    display: none;
}
/**/
.background .first div{
    background-color: #dbdfdf;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BB2020;
    text-align: center;
    font-family: Hind Madurai;
    border-radius: 20px;
    padding: 0.25rem;
}
.background .second{
    display: flex;
    position: absolute;
    bottom: 0;
}
.background .second ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #dbdfdf;
    border-radius: 5px;
    text-align: center;
}
.background .second ul li{
    list-style-type: none;
    padding: 0.75rem;
}
.background .second ul li a{
    color: #BB2020;
    text-decoration: none;
    font-family: Hind Madurai;
}
.background .second ul li a:hover{
    color: #BB2020;
}

/*fabars*/
.third{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #dbdfdf;
    position: absolute;
    bottom: 0;
    display: none;
    font-size: 36px;
    outline: none;
    border: none;
}
.third #fabars{
    cursor: pointer;
}
/**/
/*on scrolled*/
.background.active .second{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
.background.active .second ul{
    width: 100%;
    background-color: #b63030;
}
.background.active .second ul li a{
    color: #dbdfdf;
}
.background.active .second ul li a:hover{
    color: #f0f0f0;
}
.background.active .close{
    color: #dbdfdf;
}
/**/

/*mobile detection*/

.close{
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    color: #BB2020;
}
/**/

/*mobile menu*/

/**/
@media only screen and (max-width: 700px) {
    .third{
        display: flex;
    }
    .first{
        display: none;
    }
    .second{
        position: absolute;
        left: -1000000%;
    }
    .none{
        display: none;
    }
    .close.active{
        display: flex;
    }
    .second.clicked ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .second.clicked{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
    }
    .background.active{
        display: none;
    }
}
