@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap');

.unutulmaz{
    margin: 1rem;
    text-align: center;
}
p{
    font-family: Hind Madurai;
    color: #dbdfdf;
}
img{
    width: 60%;
}